<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.demo.mapper.AlibabaTradingRecordMapper">
  <resultMap id="BaseResultMap" type="com.imooc.demo.domain.AlibabaTradingRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="trade_number" jdbcType="VARCHAR" property="tradeNumber" />
    <result column="outer_trade_number" jdbcType="VARCHAR" property="outerTradeNumber" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="trade_source" jdbcType="VARCHAR" property="tradeSource" />
    <result column="trade_state" jdbcType="VARCHAR" property="tradeState" />
    <result column="buyer_id" jdbcType="VARCHAR" property="buyerId" />
    <result column="buyer_login_number" jdbcType="VARCHAR" property="buyerLoginNumber" />
    <result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
    <result column="buyer_nickname" jdbcType="VARCHAR" property="buyerNickname" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="seller_login_number" jdbcType="VARCHAR" property="sellerLoginNumber" />
    <result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
    <result column="seller_nickname" jdbcType="VARCHAR" property="sellerNickname" />
    <result column="commodity_name" jdbcType="VARCHAR" property="commodityName" />
    <result column="trade_total_amount" jdbcType="DECIMAL" property="tradeTotalAmount" />
    <result column="pay_mode" jdbcType="VARCHAR" property="payMode" />
    <result column="trade_create_ip" jdbcType="VARCHAR" property="tradeCreateIp" />
    <result column="trade_pay_ip" jdbcType="VARCHAR" property="tradePayIp" />
    <result column="confirm_receive_ip" jdbcType="VARCHAR" property="confirmReceiveIp" />
    <result column="buyer_pay_date" jdbcType="TIMESTAMP" property="buyerPayDate" />
    <result column="confirm_pay_date" jdbcType="TIMESTAMP" property="confirmPayDate" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="receiver_fixed_phone" jdbcType="VARCHAR" property="receiverFixedPhone" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="case_number" jdbcType="VARCHAR" property="caseNumber" />
  </resultMap>


  <select id="getTradeRecordCondition" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
    *
    FROM
    alibaba_trading_record atr
    WHERE
    atr.user_id = #{userId}
    AND atr.commodity_name LIKE  '%${commodityName}%'
    AND atr.seller_name LIKE  '%${sellerName}%'
    AND atr.trade_state LIKE  '%${tradeState}%'
    AND atr.pay_mode LIKE  '%${payMode}%'
    AND atr.trade_total_amount <![CDATA[ >= ]]> #{tradeTotalAmountStart}
    AND atr.trade_total_amount <![CDATA[ <= ]]> #{tradeTotalAmountEnd}
    AND atr.buyer_pay_date BETWEEN STR_TO_DATE(
    #{startTime},
    '%Y-%m-%d'
    )
    AND DATE_ADD(
    STR_TO_DATE(
    #{endTime},
    '%Y-%m-%d'
    ),
    INTERVAL 1 DAY
    )

    <if test="weekNum != null and weekNum.length >0">
      AND DATE_FORMAT(atr.create_date, '%w') in
      (${weekNum})
    </if>

    AND STR_TO_DATE(
    substring(atr.create_date, 12),
    '%H:%i:%s'
    ) <![CDATA[ >= ]]> STR_TO_DATE(#{startDuration}, '%H:%i:%s')
    AND STR_TO_DATE(
    substring(atr.create_date, 12),
    '%H:%i:%s'
    ) <![CDATA[ <= ]]> STR_TO_DATE(#{endDuration}, '%H:%i:%s')
    ORDER BY ${sort}  ${order}
    LIMIT ${start},${size};


  </select>

  <select id="getTradeRecordConditionTotalNum" parameterType="java.util.Map" resultType="Integer">
      SELECT
        count(*)
      FROM
      alibaba_trading_record atr
      WHERE
      atr.user_id = #{userId}
      AND atr.commodity_name LIKE  '%${commodityName}%'
      AND atr.seller_name LIKE  '%${sellerName}%'
      AND atr.trade_state LIKE  '%${tradeState}%'
      AND atr.pay_mode LIKE  '%${payMode}%'
      AND atr.trade_total_amount <![CDATA[ >= ]]> #{tradeTotalAmountStart}
      AND atr.trade_total_amount <![CDATA[ <= ]]> #{tradeTotalAmountEnd}
      AND atr.buyer_pay_date BETWEEN STR_TO_DATE(
      #{startTime},
      '%Y-%m-%d'
      )
      AND DATE_ADD(
      STR_TO_DATE(
      #{endTime},
      '%Y-%m-%d'
      ),
      INTERVAL 1 DAY
      )

      <if test="weekNum != null and weekNum.length >0">
        AND DATE_FORMAT(atr.create_date, '%w') in
        (${weekNum})
      </if>

      AND STR_TO_DATE(
      substring(atr.create_date, 12),
      '%H:%i:%s'
      ) <![CDATA[ >= ]]> STR_TO_DATE(#{startDuration}, '%H:%i:%s')
      AND STR_TO_DATE(
      substring(atr.create_date, 12),
      '%H:%i:%s'
      ) <![CDATA[ <= ]]> STR_TO_DATE(#{endDuration}, '%H:%i:%s')
      ORDER BY ${sort}  ${order};

  </select>

  <select id="normalQuery" resultType="java.util.Map">

    SELECT * FROM alibaba_trading_record atr WHERE atr.user_id = #{userId} AND atr.commodity_name LIKE '%${commodityName}%';

  </select>
</mapper>