<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.demo.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.imooc.demo.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
  </resultMap>

  <select id="currentPageList" resultType="java.util.HashMap">
    select id,username,password,DATE_FORMAT(register_time,'%Y-%m-%d %H:%i:%s') register_time
    from user order by ${orderField} ${orderType}
  </select>

  <select id="getUserTotalNum"  resultType="int">
    select count(*)
    from user ;
  </select>

  <select id="login"  resultType="java.util.Map">
    select username,password
    from user where username = #{username} and password = #{password} limit 1;
  </select>

  <select id="checkUserNameExsit"  resultType="boolean">
    select (case when count(username)>0 then 1 else 0 end) as result
    from user where username = #{username};
  </select>

  <insert id="add" parameterType="com.imooc.demo.entity.User" useGeneratedKeys="true" keyProperty="id">
    insert into user (username,password,register_time) values (#{username},#{password},Now());
  </insert>

  <select id="search" resultType="java.util.Map" >
    select id,username,password,DATE_FORMAT(register_time,'%Y-%m-%d %H:%i:%s') register_time
      from user
    where
      username like '%${username}%'
      AND register_time between #{startime} and #{endtime} order by ${orderField} ${orderType}
  </select>

  <select id="searchTotalNum" resultType="java.util.Map" >
    select id
      from user
    where
      username like '%${username}%'
      AND register_time between #{startime} and #{endtime}
  </select>

  <update id="update"  parameterType="com.imooc.demo.entity.User">
     update user SET username=#{username},password=#{password}
      where id=#{id}
  </update>

  <delete id="delete"  parameterType = "java.util.List">
    delete from user where id in
    <foreach collection="list" item="item" open="(" separator="," close=")" >#{item}</foreach>
  </delete>

</mapper>